h2{
  text-align: center;
  padding-bottom: 7vh;
}

form{
  max-width: 40vw;
  margin: auto;
}

textarea{
  resize: none;
}

.formbox{
  height: 60vh;
  border-radius: 10px;
  box-shadow: 5px 5px 3px 3px grey;
  overflow: scroll;
}

form{
  margin-top: 5vh;
}

main{
  height: 90vh;
}

.contactpage{
  height: 90vh;
}

