.col-sm-6{
    height: 40vh;
    width: 18vw;
    margin-right: 20px;
    margin-bottom: 10vh;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 3px 3px lightgray;
    border-radius: 10px;
    overflow: auto;
    min-width: 250px;
    min-height: 400px;
}

main{
    padding-top: 10vh;
}

body{
    background-color: var(--primary-color);
}

img{
    height: 60vh;
    width: 25vw;
    object-fit: cover;
    min-width: 350px;
}

.pic{
    width: 25vw;
    min-width: 350px;
    overflow: hidden;
    padding: 0;
}

@media only screen and (max-width: 576px) {
    .pic{
        margin-left: auto;
        margin-right: auto;
    }

    .row .col-sm-6:last-child{
        margin-bottom: 300px;
    }
}