.card{
    height: fit-content;
    width: fit-content;
}

img{
    height: inherit;
}

#smallerscreen{
    visibility: hidden;
}

.programminginfo{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    height: 120vh;
}

#infocard{
    margin: 0;
    top: 0;
    width: 100%;
}

#skillschart{
    margin: 0;
    max-width: 300px;
    top: 0;
    float: right;
    text-align: left;
}

.progress{
    background-color: lightgray;
}

.progressbar{
    background-color: var(--dark-color);
    color: white;
    text-align: center;
}

label{
    padding-top: 0.5em;
}

.flex-container{
    display: flex;
}

.infocardanimation{
    animation-name: biggertext;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.transparent{
    opacity: 0;
}

#image{
    padding: 10px;
    justify-self: left;
}

body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

main{
    flex: 1 0 auto;
    padding-bottom: 10vh;
}

.education{
    padding-top: 2vh;
}

h2{
    padding-bottom: 2vh;
}

hr{
	width: 90%;
	color: grey;
}

.navbar{
    padding: 0;
    width: 100%;
}

h1{
    font-size: 2em;
}

ul{
    padding: 0;
    margin: 0;
}

a{
    color: white;
}

a:hover{
    color: lightgray;
}

footer{
    width: 100vw;
    bottom: 0;
}

@media only screen and (max-width: 768px) {
    #image{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .grid{
        position: relative;
        display: inline-block;
    }

    .showcase-text{
        visibility: hidden;
    }

    #smallerscreen{
        visibility: visible;
        padding-top: 16vh;
        padding-bottom: 5vh;
    }

    .flex-container{
        display: block;
    }

    #skillschart{
        float: left;
        padding: 0;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #infocard{
        max-width: 90vw;
        margin: 0;
    }
}

@media only screen and (max-width: 576px) {
    .container .card{
        max-width: 70vw;
    }

    #smallerscreen{
        padding-top: 11vh;
    }

    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }
}

@keyframes biggertext {
    100%{width: 40vw; margin-left: auto; margin-right: auto;}
}

